
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
	height: 100% !important;
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Nunito', sans-serif;
}

#app{
	height: 100%;
  width: 100%;
  overflow-y: auto;
}

.message-form{
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: aquamarine;
}

.center-group{
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;

  input[type='text']{
    width: 80%;
  }
}

.app{
  padding-bottom: 4rem;
}

.message{
  max-width: 12rem;
  height: auto;
  padding: 1rem;
  clear: both;
  margin: .5rem 0;
  border-radius: .5rem;

  &.received{
    float: left;
    margin-left: .5rem;
    background-color: cornflowerblue;
  }

  &.sent{
    float: right;
    margin-right: .5rem;
    background-color: darkslateblue;
    color: white;
  }
}