
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.message-form{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: aquamarine;
}

.center-group{
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;

  input[type='text']{
    width: 80%;
  }
}