
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
    background-color: #333;
	height: 100% !important;
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

.app{
    max-width: 600px;
    height: calc(100% - 5rem);
    width: 100%;
    overflow-y: auto;
    padding: 0 .5rem;
    margin: 0 auto;
}

.message-form{
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
}

.center-group{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    input[type='text']{
        width: 80%;
        height: 3rem;
        border-radius: 1.5rem;
        border: none;
        padding: 1rem;
    }

    input[type='submit']{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: none;
        background-color: #fff;
    }

    input{
        outline: none;
    }
}

.message{
    max-width: 12rem;
    height: auto;
    padding: 1rem;
    clear: both;
    margin: .5rem 0;

  &.received {
    position: relative;
    float: left;
    background-color: $mint-green;
    border-radius: .5rem .5rem .5rem 0;
  }

  &.received:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $mint-green;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }

  &.sent{
    position: relative;
    float: right;
    margin-right: .5rem;
    background-color: whitesmoke;
    border-radius: .5rem .5rem 0 .5rem;
  }

  &.sent:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: whitesmoke;
    border-bottom: 0;
    border-right: 0;
    margin-left: -10px;
    margin-bottom: -10px;
  }
}
